* {
  box-sizing: border-box;
}
body {
  background-color: #efefef;
  font-family: "Roboto";
  font-size: 16px;
}

.container {
  width: 1024px;
  margin: auto;
}

header {
  background-color: white;
  border-bottom: solid 1px #f3735f;
}
section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
  margin: 40px 180px 40px 180px;
}

h1 {
  font-size: 50px;
  color: #393c6c;
  text-align: center;
  font-weight: bold;
  margin: 15px 55px 7px 55px;
}

p {
  line-height: 22px;
  margin-bottom: 20px;
}
.régime {
  color: #6c6c6c;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.image-recette {
  width: 33%;
  aspect-ratio: 1/1;
  border-radius: 20px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}

span {
  background-color: #667799;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 12px 120px 12px 120px;
}

.time {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

li {
  list-style: inside;
  padding-left: 15px;
  color: #6c6c6c;
  line-height: 22px;
}

footer {
  text-align: center;
  color: #6c6c6c;
}
